@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700,900');

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    /* 메인 */
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulHangangM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid green; */


}

html {
    overflow: hidden;
}

html,
body {
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;

}

.section {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section1 {
    background-color: #f0e5d1;
    font-family: 'ghanachoco';

}

.container {
    transform: translate(-50%, -50%);
    font-weight: bold;
    top: 50%;
    left: 33%;
    display: block;
    position: absolute;
    max-width: 225px;
    /* color: #fff; */
    text-transform: uppercase;
    font-size: 5.5em;
    margin: 0;
    line-height: 90px;
    letter-spacing: 4px;
}

.title {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
}

.container span {
    transform: skew(-10deg);
    display: block;
    float: left;
    width: 870px;
    position: relative;
}


.container span:nth-child(1) {
    color: rgb(189, 153, 98);
    text-shadow: 5px 5px rgb(225, 200, 163);

}

.container span:nth-child(2) {
    color: rgb(165, 131, 72);
    text-shadow: 5px 4px rgb(218, 188, 141);
    margin: 10px 0;
}

.container span:nth-child(3),
.container span:nth-child(4) {
    color: rgb(141, 109, 58);
    text-shadow: 5px 4px rgb(204, 183, 145);
}

/* --------------------------------main--------------------------------------- */


#section2,
#section3 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'ghanachoco';
}


div.subject {
    font-size: 96px;
    text-align: center;
    position: relative;
    top: -35%;
    /* left: 185px; */
    color: rgba(165, 131, 72, 0.5);
}

.sub1,
.sub2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 22%;

}

.sub1 {
    left: 273px;
}

.effect-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.effect6 {
    position: relative;
    /* width: 400px;
    height: 300px; */
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    /* border: 7px solid #111; */
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); */
}

.effect6 img {
    width: 970px;
    transition: all 0.3s ease;
}


.effect6 figcaption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    line-height: 1.7em;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s ease;
}

.effect6 figcaption:before {
    content: '';
    width: 170px;
    height: 170px;
    background-color: rgba(165, 131, 72, 0.4);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.effect6 figcaption h3 {
    font-size: 1em;
}

.effect6 figcaption em {
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    font-weight: 700;
}

.effect6:hover img {
    opacity: 0.1;
}

.effect6:hover figcaption {
    transition: all 0.7s ease;
    transform: translate(0, 0) scale(0.96);
    opacity: 1;
}

/* 
.sub1 img:hover {
    transition: all 0.4s ease;
    transform: translate(0, 0) scale(0.98);
} */

div.explain,
div.explain2 {
    word-break: keep-all;
    color: black;
    text-align: center;
    width: 380px;
}

div.explain>div,
div.explain2>div {
    margin: 0 auto;
}

.ver {
    font-size: 13px;
    padding-right: 120px;
    color: rgb(182, 158, 124);
}

.line {
    width: 80%;
    border-bottom: 2px solid rgb(61, 50, 33);
    padding-bottom: 28px;
}

div.mal {
    line-height: 22px;
    font-size: 18px;
    color: rgb(61, 50, 33);
    font-family: 'GowunDodum-Regular';

}

.explain div.cro,
.explain2 div.cro {
    margin: 10px 0 17px;
}

.explain div.pro,
.explain2 div.pro {
    border-bottom: 2px solid rgb(61, 50, 33);
    width: 80%;
    padding-bottom: 12px;

}

.ma {
    font-size: 22px;
    font-family: 'ghanachoco';
    color: rgb(158 132 86);
    letter-spacing: -1px;


}

.mma {
    font-size: 16px;
    margin-top: 6px;
    font-family: 'GowunDodum-Regular';
    color: black;

}

.icons img {
    width: 10%;
    margin: 2px 10px 0;
}

div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

div.button {
    /* padding: 3px 30px;
    margin: 0 10px; */
    color: rgb(154, 128, 84);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    width: 93px;
    line-height: 35px;
    margin-top: 12px;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scaleY(.3);
    transform: scaleY(.3);
    opacity: 0;
    transition: all .3s
}


.button:hover::before {
    opacity: 1;
    background-color: rgb(209, 189, 154);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity;

}


div.button div {
    margin: 0 5px;
}

div.button:hover {
    transition: all 0.4s ease;
    transform: translate(0, 0) scale(0.98);
    color: white;

}





/* ----------------------------------sub1------------------------------------------- */
#section3 {
    background-color: rgb(228, 215, 194);
}

div.subject2 {
    font-size: 110px;
    text-align: center;
    position: relative;
    top: -37%;
    font-family: 'ghanachoco';
    color: rgba(255, 255, 255, 0.7);

}

.sub2 {
    left: 256px;
}

.explain2 div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ---------------------------------------projects---------------------------------------------- */
#section4 {
    background-color: #d9c7a9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'SeoulHangangM';

}

#particle-canvas {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(208, 174, 137) 0%, rgb(111, 85, 72) 100%);
    vertical-align: middle;
}

.line2 {
    position: relative;
    top: -352px;
    border-top: 2px solid #936b46;
    width: 78%;

}

div.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    position: absolute;
    top: 455px;
}

.wrapper {
    width: 100%;
    font-family: 'ghanachoco';
    margin: 0 auto;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    margin-bottom: 194px;

}

.wrapper h1 {
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%) skew(-10deg, 0);
    transform: translate(-50%, -50%) skew(-10deg, 0);
    top: 30%;
    left: 50%;
    margin: 0;
    position: absolute;
    font-size: 9vw;
    font-weight: 400;
    white-space: nowrap;
    color: #f9d8af;
    letter-spacing: 2vw;
    z-index: 1;

}

.wrapper h1::after,
.wrapper h1::before {
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: attr(data-heading);
    position: absolute;
}

.wrapper h1::after {
    left: -15px;
    top: -15px;
    z-index: 2;
    -webkit-text-stroke: 3px #f1e7c7;
    -webkit-text-fill-color: transparent;
}

.wrapper h1::before {
    z-index: -1;
    left: 15px;
    top: 15px;
    color: #c9a17c;
}

.wrapper h1:hover::after {
    left: -20px;
    top: -20px;
}

.wrapper h1:hover::before {
    left: 20px;
    top: 20px;
}

div.name2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 55px;
    color: #936b46;

}


.aboutme>span {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: center; */

}

div.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-size: 22px;
    color: #291f15;
       
}
.info2,
.info4 {
    width: 300px;
}

div.info .aboutme2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.info .aboutme2 img {
    width: 45px;
}